absl-py==0.9.0
alabaster==0.7.12
astor==0.8.1
audioread==2.1.8
audiosegment==0.22.2
Babel==2.8.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cycler==0.10.0
-e git+ssh://git@github.com/maximinus/DarkStar.git@d1bee9fb9628433eef8859cd39e6a10345737270#egg=DarkStar&subdirectory=darkstar
decorator==4.4.1
docutils==0.16
gast==0.3.3
google-pasta==0.1.8
grpcio==1.27.2
h5py==2.10.0
idna==2.9
imagesize==1.2.0
Jinja2==2.11.2
joblib==0.14.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
librosa==0.7.2
llvmlite==0.31.0
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.1.3
numba==0.48.0
numpy==1.18.2
packaging==20.4
pandas==1.0.3
pkg-resources==0.0.0
protobuf==3.11.3
pycparser==2.19
pydub==0.23.1
Pygments==2.6.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
resampy==0.2.2
scikit-learn==0.22.1
scipy==1.4.1
silence-tensorflow==1.1.1
six==1.14.0
snowballstemmer==2.0.0
SoundFile==0.10.3.post1
Sphinx==3.0.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tqdm==4.43.0
urllib3==1.25.9
webrtcvad==2.0.10
Werkzeug==1.0.0
wrapt==1.12.0
